ul {
  list-style-type: none; /* Quita el punto al inicio de la lista */
}

.item {
  margin-bottom: 10px; /* Añade espacio entre los elementos de la lista */
  text-align: justify; /* Justifica el texto */
}

.value {
  margin-left: 10px; /* Añade espacio entre la etiqueta y el valor */
  font-weight: bold; /* Hace que el valor se vea más destacado */


}
