<div class="card p-3">
  <div class="card-body ">
    <h4 class="card-title">matricula</h4>
    <hr>
    <ul class="list-unstyled p-3">
      <li>Hora {{ eventDetails?.booking_time }}</li>
      <li>Dia {{ eventDetails?.booking_date }}</li>
      <!-- TODO: events vinculate to a client -->
      <li>{{carDetails?.car_brand}} {{ carDetails?.model }}</li>
      <li>Cotxe substitució {{ eventDetails?.courtesy_car }}</li>
      <li>Reparació {{ eventDetails?.damage }}</li>
    </ul>
    <hr>
    <div class="d-flex justify-content-center pt-3">
      <button class="btn btn-outline-danger me-4" (click)="backToCalendar()">Tanca</button>
      <button class="btn btn-secondary me-4"(click)="openBudget()"  >Pressupost</button>
      <button class="btn btn-primary" (click)="openRepairDetails()">Reparació</button>
    </div>

  </div>

</div>

