<div class="card p-3">
  <div class="card-body ">
    <h4 class="card-title">matricula</h4>
    <hr>
    <ul class="list-unstyled p-3">
      <li><strong>Hora</strong> {{ event.extendedProps.booking }}</li>
      <li><strong>Dia</strong> {{ event.extendedProps.booking_day }}</li>
      <li><strong>Client</strong> {{ event.extendedProps.client }}</li>
      <li><strong>Contacte</strong> {{ event.extendedProps.contact }}</li>
      <li><strong>Cotxe substitució</strong> {{ event.extendedProps.vehicle }}</li>
      <li><strong>Reparació</strong> {{ event.extendedProps.reparation }}</li>
    </ul>
    <hr>
    <div class="d-flex justify-content-center pt-3">
      <button class="btn btn-outline-danger me-4" (click)="backToCalendar()">Tanca</button>
      <button class="btn btn-secondary me-4"(click)="openBudget()"  >Pressupost</button>
      <button class="btn btn-primary">Reparació</button>
    </div>

  </div>

</div>

