<div class="row pb-5" *ngIf="eventDetails">
  <div class="col-md-6">
    <ul>
      <li class="">Data: {{ eventDetails.booking_date }}</li>
      <li class="">Hora: {{ eventDetails.booking_time }}</li>
      <li class="">Entrega: {{ eventDetails.reparation_end }}</li>
      <li>Cotxe Substitució: {{ eventDetails.courtesy_car }}</li>
    </ul>
  </div>
  <div class="col-md-6">
    <ul>
      <li class="">Hores previstes: {{ eventDetails.hours_forecast }}</li>
      <li class="">Hores reals: {{ eventDetails.hours_real }}</li>
      <li class="">Entrega postposada a: {{ eventDetails.delayed_date }}</li>
    </ul>
  </div>
  <p><strong>Motiu: </strong></p>
  <span>{{ eventDetails.damage }}</span>
</div>


