<div class="row pb-4" *ngIf="eventDetails">
  <div class="col-md-6">
    <ul>
      <li class="item">Data: <span class="value">{{ eventDetails.booking_date }}</span> </li>
      <li class="item">Hora: <span class="value">{{ eventDetails.booking_time }}</span></li>
      <li class="item">Entrega: <span class="value">{{ eventDetails.reparation_end }}</span> </li>
      <li>Cotxe Substitució: <span class="value">{{ eventDetails.courtesy_car }}</span></li>
    </ul>
  </div>
  <div class="col-md-6">
    <ul>
      <li class="item">Hores previstes: <span class="value">{{ eventDetails.hours_forecast }}</span></li>
      <li class="item">Hores reals: <span class="value">{{ eventDetails.hours_real }}</span></li>
      <li class="item">Entrega postposada a: <span class="value">{{ eventDetails.delayed_date }}</span> </li>
    </ul>
  </div>
</div>
<div class="row pb-3">
  <div class="col">
    <ul>
      <li>
        <span>Tipus de reparació:</span>
        <p>{{ eventDetails.damage }}</p>
      </li>
    </ul>
  </div>
</div>
<div class="row pb-4">
  <div class="col">
    <ul>
      <li>
        <span>Observacions:</span>
        <p>{{ eventDetails.event_details  }}</p>
      </li>
    </ul>
  </div>
</div>


