@import 'bootstrap/scss/bootstrap';

body{
  background-color: $light;
}


.card{
  border-radius: 10pt;
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

input {
  border-radius: 10pt;
}

/* navbars styles  */

.navbar-toggler {
  border: none;
}



/* Edit and add modals forms  */

.form-control {
  border-radius: 10pt;
}

.form-label {
  font-size: 12pt;

}

.scrollable-content {
  max-height: 70vh;
  overflow-y: auto;
}

/* Details component  */

ul {
  list-style-type: none;
}

.item {
  margin-bottom: 10px;
  text-align: justify;
}

.value {
  margin-left: 10px;
  text-align: justify;


}


